@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --primary-color :  rgb(12, 63, 124);
    --primary-color-darker :  rgb(9, 46, 91);

}


* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color) ;
    font-family: 'Open sans', sans-serif;
    line-height: 1em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    background-color: var(--primary-color);
    color: white;
    height: 40px;
    cursor: pointer;
    border: 0px solid;
    border-radius: 10px;
}

form button:hover {
    background-color: var(--primary-color-darker);
}

.main {
    display: flex;
    flex-direction: row;
    gap: 160px;
    align-items: center;
}

table {
    border: 2px solid var(--primary-color);
    padding: 30px;
}

td, th {
    border: 1px solid var(--primary-color);
    padding: 5px 20px;
}

.tbl {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res{
    color:black
}